* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    /*background-color: #40C057;*/
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Oswald', sans-serif;
 
}

/*-------------------HEADER----------------------*/
.header {
    display: flex;
    flex-wrap: wrap;
    padding: 9px;
    justify-content: space-between;
    background-color: #40C057;
    opacity: 0.9;
    margin: 0 auto;
    border-bottom: 2px solid gainsboro; 
}


.header-img-container {
    width: 12%;
}


.header-logo {
    width: 75px;
}

.header-icons-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav {
    display: none;
}

.nav>a {
    text-decoration: none; 
}

.header-icons {
    padding: 5px;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s;
    font-size: 18px;
}

.header-icons:hover {
    background-color: gainsboro;
}

@media (min-width: 760px) {
    .header-img-container {
        width: 5%;
    }
    .header-logo {
       width: 80px;
    }
    .header-icons-container {
        width: 20%;
        justify-content: space-around;
    }
    .header-icons {
        padding: 7px;
        font-size: 20px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        flex: 0.7;
    }
    .nav>a {
       text-align: center;
        width: auto;
        transition: all 0.9s;
        padding: 10px;
    }
    .nav>a:hover {
        background-color: white; 
    }

    #menu {
        display: none;
    }
}

/*----------------FIN HEADER---------------------------*/


/* ------------------PRODUCT DETAIL---------------------- */
.product__category {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    
}

.product__category * {
    padding: 1%;
    color: #40C057;
}

.product__left__column {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1%;
}

.product__img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1%;
    transition: all 0.4s;
}

.product__img * {
    width: 100%;
}

.product__img *:hover {
    opacity: 0.8;
}

.product__image__small {
    width: 50%;
}

.product__shipping__info {
    width: 100%;
}

.product__ranking {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
    margin-left: 1%;
    padding-left: 1%;
}

.product__ranking a {
    width: 10%;
}

.product__ranking img {
    width: 100%;
}

.product__ranking p {
    width: 20%;
    white-space: nowrap;
    margin: 0px;
}

.product__buy__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
    }

.product__buy__form * {
    margin: 1%;
    padding: 1%;
}

.product__row__setter {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.product__amount__input {
    width: 12%;
    text-align: center;
}

.product__buy__form button {
    justify-content: center;
    overflow: hidden;   
    white-space: nowrap; 
}

.product__add__button {
    width: 40%;
    background-color: #40C057;
}

.product__buynow__button {
    width: 60%;
    background-color: #FD7E14;
}

.product__info {
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
    background-color: #868E96;
}

.product__info *{
    padding: 1%;
    text-align: justify;
}

.product__user__scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.product__user__scores article {
    width: 100%;
    text-align: center;
}

.product__user__stars img {
    width: 5%;
}

.product__user__reviews {
    display: flex;
    flex-wrap: nowrap;
}

.product__user__reviews article {
    width: 50%;
    padding: 2%;
    margin: 2%;
    border: 1px solid #868E96;
    text-align: justify;
}

@media (min-width: 426px) and (max-width: 768px) {
.product__ranking a {
    width: 6%;
}

}


@media (min-width: 769px) {
    .product__main__content {
    display: flex;
    flex-wrap: wrap;
    }
    
    .product__left__column {
        width: 50%;
       }

    .product__right__column {
        width: 50%;
        justify-content: space-evenly;
    }

    .product__ranking a {
        width: 5%;
    }

    .product__buy__form {
        width: 100%;
    }
    
    .product__info {
    width: 80%;
    }

    .product__user__stars img {
        width: 2%;
    }
}

/*--------------------------- FIN PRODUCT DETAIL --------------------------*/