* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    /*background-color: #40C057;*/
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Oswald', sans-serif;
 
}

/*-------------------HEADER----------------------*/
.header {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(218,203,94,1) 0%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%);
    opacity: 0.9;
    margin: 0 auto;
    border-bottom: 2px solid gainsboro; 
    
}


.header-img-container {
    width: 12%;
}


.header-logo {
    width: 75px;
}

.header-icons-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav {
    display: none;
}

.nav>a {
    text-decoration: none; 
}

.header-icons {
    padding: 5px;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s;
    font-size: 18px;
}

.header-icons:hover {
    background-color: gainsboro;
}

@media (min-width: 760px) {
    .header-img-container {
        width: 5%;
    }
    .header-logo {
       width: 80px;
    }
    .header-icons-container {
        width: 20%;
        justify-content: space-around;
    }
    .header-icons {
        padding: 7px;
        font-size: 20px;
    }
    .nav {
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        flex: 0.7;
    }
    .nav>a {
       text-align: center;
        width: auto;
        transition: all 0.9s;
        padding: 10px;
    }
    .nav>a:hover {
        background-color: white; 
    }

    #menu {
        display: none;
    }
}

/*----------------FIN HEADER---------------------------*/

/* ------------------PRODUCT DETAIL---------------------- */
.product__category {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-bottom: 0px;
}

.product__category * {
    padding: 1%;
    color: #40C057;
    text-decoration: none;
}

.product__category a:hover {
    text-decoration: underline;
}

.product__left__column {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1%;
}

.product__img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1%;
    transition: all 0.4s;
}

.product__img * {
    width: 100%;
}

.product__img *:hover {
    opacity: 0.8;
}

.product__image__small {
    width: 50%;
}

.product__shipping__info {
    width: 100%;
    background-color: #868E96;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px ;
    border-style: outset;
}

.product__shipping__info:hover {
    background-color: lightgray;
    opacity: 0.8;
}

.product__shipping__info a {
    display: block;
    padding: 1%;
    text-decoration: none;     
}

.product__ranking {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2%;
    margin-left: 1%;
    padding-left: 1%;
}

.product__ranking a {
    width: 10%;
}

.product__ranking img {
    width: 100%;
}

.product__ranking p {
    width: 20%;
    white-space: nowrap;
    margin: 0px;
}

.product__buy__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
    }

.product__buy__form * {
    margin: 1%;
    padding: 1%;
}

.product__row__setter {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.product__amount__input {
    width: 12%;
    text-align: center;
}

.product__buy__form button {
    justify-content: center;
    overflow: hidden;   
    white-space: nowrap; 
}

.product__buy__form button:hover {
    opacity: 0.85;
    cursor: pointer;
}

.product__add__button {
    width: 40%;
    background-color: #40C057;
}

.product__add__fav {
    width: 7%;
    margin: 0px;
    margin-top: 1%;
    padding: 0px;
}

.product__add__fav img {
    width: 100%;
}

.product__buynow__button {
    width: 60%;
    background-color: #FD7E14;
}

.product__info {
    margin: 2%;
    padding: 2%;
    background-color: #868E96;
}

.product__info *{
    padding: 1%;
    text-align: justify;
}

.product__user__scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.product__user__scores article {
    width: 100%;
    text-align: center;
}

.product__user__stars img {
    width: 5%;
}

.product__user__reviews {
    display: flex;
    flex-wrap: nowrap;
}

.product__user__reviews article {
    width: 50%;
    padding: 2%;
    margin: 2%;
    border: 1px solid lightgray;
    text-align: justify;
}

@media (min-width: 426px) and (max-width: 768px) {

    .product__ranking a {
    width: 6%;
}

}

@media (min-width: 769px) {

    .product__main__content {
        display: flex;
        flex-wrap: wrap;
        }

    .product__category * {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .product__shipping__info {
    margin-right: 0%;
    }
        
    .product__left__column {
        width: 50%;
       }

    .product__right__column {
        width: 50%;
        justify-content: space-evenly;
    }

    .product__ranking a {
        width: 5%;
    }

    .product__buy__form {
        width: 100%;
    }
    
    .product__info {
    width: 80%;
    margin: 1.2%;
    }

/*--------------------------- FIN PRODUCT DETAIL --------------------------*/

/*---------------------------LOGIN-------------------------------*/


.login-app-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px auto;
    width: 380px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(235,230,230,1) 95%, rgba(247,247,247,1) 100%, rgba(242,242,242,1) 100%);
}

.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login-section-img {
    display: none;
}

.login-section-usuario {
    display: flex;
    justify-content: center;
}

.login-cuenta {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

#login-cuenta-button {
    padding: 11px;
    border-radius: 25px;
    width: 100px;
    border: none;
    background: linear-gradient(90deg, rgba(240,225,114,1) 0%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%);
    margin-left: 10px;
    transition: all 0.5s;
    
}

#login-cuenta-button:hover {
    color: gainsboro;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    
   
}

.login-input {
    margin: 15px 0px;
    border-radius: 25px;
    padding: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 250px;
    border-bottom: 2px solid grey;
    border-block-start-style: none;
    
}

.login-form-button {
    padding: 13px;
    border-radius: 20px;
    width: 250px;
    
    border: none;
    background: linear-gradient(90deg, rgba(240,225,114,1) 0%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%);
    margin: 10px 0px;
    transition:  all 0.5s;
}

.login-form-button:hover {
    color: gainsboro;
    
}

.login-form>p {
    margin: 10px 5px;
    
}
#login-form-a {
    color: #a6961e;
}
#login-form-a:hover {
    font-style: bold;
    padding-left: 11px;
}
.login-section-redes {
    padding: 17px;
}

.login-article-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-icon {
    
    padding: 10px;
    transition: all 0.7s;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin: 0 20px;
}

.login-icon:hover {
    background: linear-gradient(90deg, rgba(240,225,114,1) 0%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%, rgba(166,150,30,1) 100%);
    color: gainsboro; 
}



@media (min-width: 1000px) {
    .login-app-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
        width: 90%;
        height: 90%;
        
    }
  
    .login-section-img {
        display: flex;
        flex: 1;
       ;
    }

    .login-main {
        flex: 1;
        padding: 20px;
    }

    #login-img-beer {
        width: 100%;
        object-fit: cover;
        height: 100%;
       
    }

}

/*--------------------------- FIN LOGIN-------------------------------*/

    .product__user__stars img {
        width: 2%;
    }
}
/*--------------------------- FIN PRODUCT DETAIL --------------------------*/
