<%- include('../partials/head') %>
<script src="/js/addToCart.js" defer></script>
<body>

    <%- include('../partials/header') %>
    
    <!-- Título y cantidad de items -->
    <section class="cart__summary">
        <article>
            MI CARRITO
        </article>
        <article id="total-items-quantity">
        </article>
    </section>

    <!-- Carrito en sí, con precios, cantidades y precio total -->
    <main>
        <!-- Fila de títulos de información de los productos mostrada en carrito -->
        <section class="cart__header">
            <article>ITEM</article>
            <article>PRECIO</article>
            <article>CANTIDAD</article>
            <article>TOTAL</article>
        </section>

        <div id="cart-items">
        
        </div>

        

        <!-- Subtotal, costo de envío, total final y botón finalizar compra -->
        <section class="cart__final__info">
            <!-- <article class="cart__final__row__subtotal">
                <p>Subtotal</p> 
                <p>$000</p>
            </article>
            <article class="cart__final__row__subtotal">
                <p>Envío</p> 
                <p>$000</p>
            </article> -->
            <article class="cart__final__row__total">
                <h2>TOTAL</h2> 
                <h2 id="total-cart"></h2>
            </article>            
            
            <!-- CHEQUEA SI ESTÁ LOGUEADO -->
            <article>
                <% if (usuarioSession) { %>            
                    <form action="/products/finishPurchase" method="POST" id="finCompra" name="finCompra">
                        <input type="hidden" name="productsToPay" id="products-to-pay">
                        <button class="cart__buy__button" type="submit">FINALIZAR COMPRA</button>            
                    </form>
                <% } else { %>
                    <a href="/users/login"><button class="cart__buy__button" type="button">LOGIN PARA COMPRAR</button></a>
                <% } %>
            </article>
            <article>
                <button id="empty_cart">VACIAR CARRITO</button>
            </article>
            
        </section>

    </main>

    <!-- Dejo vacío el footer para hacer copy paste de lo que arme Santi -->
    <%- include('../partials/footer') %>
    
</body>
</html>