<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwi Cervezas</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    
</head>
<body>
    <%- include('partials/header') %>
    

    <div class="cont__general">   <!-- banner -->
        <section class="foto__principal">
            <img src="/images/img/cerveza.png" alt="banner">          <!-- imagen de cervezas-->
        </section>
    <div class="contenedor__padre">
        <section class="panel__inicial"> 
          
            <article class= "accion__comprar">
                 <a href="/productSearch">COMPRAR</a>            <!--paneles con opcines-->
            </article> 
             <article class="accion__artesanal">
                <a href="/productSearch">CERVEZAS ARTESANALES</a>
            </article> 
            <article class="accion__industrial">
                <a href="/productSearch">CERVEZAS INDUSTRIALES</a>
            </article> 
            <article class="accion__elegir">
                <a href="/productSearch">ELEGI TU CERVEZA</a>
            </article> 
          
        </section>
    </div>
</div>

    <%- include('partials/footer') %>

</body>


</html>



