<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- HEADER -->
    <%- include('partials/header') %>

    <!-- FIN HEADER -->

    <!-- Submenú de categorías de productos -->
    <section class="product__category">
        <article>
           <a href="">CATEGORÍA</a>
        </article>
        
        <article>
            >
        </article>

        <article>
            <a href="">SUBCATEGORÍA</a>
        </article>

    </section>

    <!-- Comienza main content para @media con más width  -->
    <div class="product__main__content">

        <!-- Imágenes de producto, clickeables para agrandar -->
        <div class="product__left__column">

                <section class ="product__img">
                    <article class="product__image__large">
                        <a href=""><img src="/images/img/product001.jpg" alt="Imagen1"></a>
                    </article>
                    <article class="product__image__small">
                        <a href=""><img src="/images/img/product002.jpg" alt="Imagen2"></a>
                    </article>
                    <article class="product__image__small">
                        <a href=""><img src="/images/img/product003.jpg" alt="Imagen3"></a>
                    </article>
                </section>

                <!-- Tiempos y costos de envío, imagen clickeable a página informativa -->
                <section class="product__shipping__info">
                    <a href="">TIEMPOS Y COSTOS DE ENVÍO</a>            
                </section>
        </div>

        <div class="product__right__column">


        <!-- Puntuación del producto -->
        <section class="product__ranking">
            <!-- Estrellas clickeables para dar puntuación -->
                <a href=""><img src="/images/img/star_filled.png" alt="Star1"></a>
                <a href=""><img src="/images/img/star_filled.png" alt="Star2"></a>
                <a href=""><img src="/images/img/star_filled.png" alt="Star3"></a>
                <a href=""><img src="/images/img/star_empty.png" alt="Star4"></a>
                <a href=""><img src="/images/img/star_empty.png" alt="Star5"></a>
                <p>(00 Puntos)</p>
        </section>

        <!-- Form para comprar producto -->
        <form class="product__buy__form" action="/productCart" method="GET">
                
        <div class="product__row__setter">
            <h1 class="product__name">NOMBRE PRODUCTO</h1>
            <p class="product__price">$ 000.00</p>
        </div>

        <div class="product__row__setter">
           <label for="nroCantidad">Cantidad: </label>
           <input class="product__amount__input" type="number" id="nroCantidad" name="nroCantidad" value="0" min="0" max="24" autofocus required>
        </div>

        <div class="product__row__setter">
          <button class= "product__add__button" type="submit">AGREGAR AL CARRITO</button>
          <a class="product__add__fav" href=""><img src="/images/img/heart__filled.png" alt="Favorito"></a>            
        </div>
        
        <div class="product__row__setter">
        <button type="button" class="product__buynow__button">COMPRAR AHORA</button>
        </div>

        </form>
        
                
        <!-- Descripción del producto -->
        <section class="product__info">
            <p>Información del producto: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, quam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, voluptas odio? Quam, repellat quidem! Impedit, facere nulla? Aliquam sed consequuntur ducimus, illum beatae distinctio vero facere. Eaque adipisci ipsam modi!</p>
        </section>
    <!-- Se cierra div de second column -->
    </div>
    

    <!-- Se cierra div de main content -->
    </div> 
    

    <!-- Valoraciones de los clientes -->
    <section class="product__user__scores">
        <p>Puntuación de los clientes</p>
        <!-- Puntuación promedio en imágenes (estrellas) -->
        <article class="product__user__stars">
            <img src="/images/img/star_filled.png" alt="Star1">
            <img src="/images/img/star_filled.png" alt="Star2">
            <img src="/images/img/star_filled.png" alt="Star3">
            <img src="/images/img/star_empty.png" alt="Star4">
            <img src="/images/img/star_empty.png" alt="Star5">
        </article>
        
        <section class="product__user__reviews">
        <!-- Opiniones de clientes que ya compraron el producto -->
        <article>
            <p>Opinión del cliente 1: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt sit magnam omnis provident quasi amet assumenda saepe repudiandae repellat dolorem necessitatibus tempore rem, ratione dolorum reiciendis dolor veniam ab officiis?</p>
        </article>
        <article>
        <p>Opinión del cliente 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ad reprehenderit ab ducimus sed culpa aliquam ullam quas facilis accusantium? Quaerat voluptatum facere repellendus iure iusto veniam natus quo dolores.</p>
        </article>
        </section>
    </section>

    <!-- Dejo vacío el footer para hacer copy paste de lo que arme Santi -->
    <%- include('partials/footer') %>
</body>
</html>