<header class="header">
    <div class="header-img-container">
        <a href="/"><img src="/images/img/logo.png" alt="LOGO DE CERVEZAS RIWI" class="header-logo"></a>
    </div>

    <nav class="nav"> <!---------------BARRA DE NAVEGACIÓN---------------------->
        <a href="/products/search">CERVEZAS</a>
        <a href="">HISTORIA</a>
        <a href="">AYUDA</a>
        <a href="">CONTACTO</a>
    </nav>

    <div class="header-icons-container">
        <a href="/users/register"><i class="fas fa-user header-icons"></i></a>
        <a href="/products/cart"><i class="fas fa-shopping-bag header-icons"></i></a>
        <a href="/products/search"><i class="fas fa-search fa-lg"></i></a>
        <a href=""><i class="fas fa-bars header-icons" id="menu"></i></a>
    </div>   
</header>    