<%- include('partials/head') %>

<body>

<%- include('partials/header') %>
       
    <main class="contenedor_historia">        
        <h1 style="text-align: center;">Contacto de los desarrolladores: </h1>
        <ul style="padding: 30px;">
            <li>curasantiago@gmail.com</li> 
            <li>pachi@hotmail.com</li> <!------MODIFICARSE LOS MAILS --------->
            <li>guille@hotmail.com</li>
        </ul>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>

