<%- include('partials/head') %>

<body>
    
<%- include('partials/header') %>
   
    <main class="contenedor_historia">        
        <h1 style="text-align: center;">Contacto de los desarrolladores: </h1>
        
        
        <article class="contact_devs">
        <!-- <article style="display: flex; justify-content: center; flex-wrap: wrap;"> -->
        <a href="mailto:curasantiago@gmail.com">
            <img src="/images/img/SC.png" alt="Santiago Cura">
            <p>curasantiago@gmail.com</p>
        </a>
        <a href="mailto:carlosarielmaldonado@gmail.com">
            <img src="/images/img/CM.png" alt="Carlos Maldonado">
            <p>carlosarielmaldonado@gmail.com</p>
        </a>
        <a href="mailto:guillermojkatz@gmail.com">
            <img src="/images/img/GK.png" alt="Guillermo Katz">
            <p>guillermojkatz@gmail.com</p>
        </a>
        </article>
        
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>

