<%- include('partials/head') %>

<body>
    
<%- include('partials/header') %>
   
    <main class="contenedor_historia">        
        <h1 style="text-align: center;">Contacto de los desarrolladores: </h1>
        
        
        <article class="contact_devs">
        <!-- <article style="display: flex; justify-content: center; flex-wrap: wrap;"> -->
        
            <div>
                <img src="/images/img/SC.png" alt="Santiago Cura">
                <h2 style="padding-bottom: 8px;">Santiago Cura</h2>
                <a style="font-size: 1rem;" href="mailto:curasantiago@gmail.com">curasantiago@gmail.com</a>
                <a href="https://www.linkedin.com/in/curasantiago" target="_blank"><img src="/images/img/linkedin.png" alt="Linkedin Santiago Cura"></a>
            </div>

            <div>
                <img src="/images/img/CM.png" alt="Carlos Maldonado">
                <h2 style="padding-bottom: 8px;">Carlos Maldonado</h2>
                <a style="font-size: 1rem;" href="mailto:carlosarielmaldonado@gmail.com">carlosarielmaldonado@gmail.com</a>
                <a href="https://www.linkedin.com/in/carlos-maldonado-2a17081b4" target="_blank"><img src="/images/img/linkedin.png" alt="Linkedin Carlos Maldonado"></a>
            </div>

            <div>
                <img src="/images/img/GK.png" alt="Guillermo Katz">
                <h2 style="padding-bottom: 8px;">Guillermo Katz</h2>
                <a style="font-size: 1rem;" href="mailto:guillermojkatz@gmail.com">guillermojkatz@gmail.com</a>
                <a href="https://www.linkedin.com/in/guillermokatz/" target="_blank"><img src="/images/img/linkedin.png" alt="Linkedin Guillermo Katz"></a>
            </div>

        </article>
        
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>

