<%- include('partials/head') %>

<body>

<%- include('partials/header') %>
       
    <main class="contenedor_historia">        
        <h2 style="text-align: center;">¿CÓMO USAR EL SITIO DE RIWI CERVEZAS?</h3>
        <ul style="padding: 25px;">
            <li><p>RECORRÉ nuestra lista de productos accediendo a <a href="/products/">"CERVEZAS"</a> en el menú superior, a través de nuestro buscador o de nuestro selector de categorías. Seleccionás los que quieras y agregá la cantidad deseada al carrito.</p></li>
            <li><p>COMPLETÁ tu compra registrando una cuenta gratuita en nuestro sitio. Podés acceder desde el menú superior o haciendo click <a href="/users/register">aquí</a>.</p></li>
            <li><p>RECIBÍ un correo electrónico de confirmación de tu compra una vez finalizada la misma en la casilla que ingresaste al registrarte. Y listo!</p></li>
            <li><p>VERIFICÁ todas las compras que hiciste en el detalle de tu cuenta una vez que te loggeaste en el menú superior o haciendo click <a href="/users/login">aquí</a>.</p></li>
        </ul>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>

