<%- include('partials/head') %>

<body>

<%- include('partials/header') %>
       
    <div class="contenedor_historia">        
        <p>Nos especializamos en la venta de cervezas nacionales. Ofrecemos una gran variedad de marcas artesanales e industriales. Queremos que nuestros productos brinden momentos de placer y alegría. Con este objetivo en mente nos propusimos orientar a nuestros clientes en este mundo de sabores de un modo fácil y dinámico y creamos un buscador en nuestro sitio que los ayudará a encontrar su cerveza ideal.


            PÚBLICO OBJETIVO
            
            Nuestros productos pueden ser disfrutados por todas las personas mayores de 18 años y sin límite de edad. La tienda online está diseñada de manera intuitiva para que la experiencia de navegarla sea sencilla y clara. 
            
            El sitio posee mecanismos que nos aseguran que nuestros clientes son mayores de edad y que entienden la responsabilidad de beber con moderación. Al ingresar se les solicita que ingresen su fecha de nacimiento y al momento de hacer su compra deben confirmarla nuevamente.</p>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>

