<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    

<div class="cont__general">   <!-- banner -->
        <section class="foto__principal">
            <img src="/images/img/cerveza.png" alt="banner">          <!-- imagen de cervezas-->
        </section>
    <div class="contenedor__padre">
        <section class="panel__inicial"> 
          
            <article class= "accion__comprar">
                 <a href="/products/">COMPRAR</a>            <!--paneles con opcines-->
            </article> 
             <article class="accion__artesanal">
                <a href="/products/">CERVEZAS ARTESANALES</a>
            </article> 
            <article class="accion__industrial">
                <a href="/products/">CERVEZAS INDUSTRIALES</a>
            </article> 
            <article class="accion__elegir">
                <a href="/products/">ELEGI TU CERVEZA</a>
            </article> 
          
        </section>
    </div>
</div>

    <%- include('partials/footer') %>

</body>


</html>



