<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    

<div class="cont__general">   <!-- inicio banner -->
          <section class="foto__principal">
            <img src="/images/img/cerveza.png" alt="banner">  
            </section> 

        

                           <!-- final del banner  -->

    <div class="contenedor__padre">
        <section class="panel__inicial"> 
          
            <article class= "accion__comprar">
                 <a href="/products/">COMPRAR</a>            <!--paneles con opcines-->
            </article> 
             <article class="accion__artesanal">
                <form action="/products" method="POST">
                    <a href="javascript:;" onclick="parentNode.submit()" style="cursor: pointer;">CERVEZAS ARTESANALES</a>
                    <input type="hidden" name="query" value="all">
                    <input type="hidden" name="searchAllCat" value="1">
                </form>
            </article> 
            <article class="accion__industrial">
            <form action="/products" method="POST">
                <a href="javascript:;" onclick="parentNode.submit()" style="cursor: pointer;">CERVEZAS INDUSTRIALES</a>
                <input type="hidden" name="query" value="all">
                <input type="hidden" name="searchAllCat" value="2">
            </form>
            </article> 
            <article class="accion__elegir">
                <a href="/products/">ELEGI TU CERVEZA</a>
            </article> 
          
        </section>
    </div>
</div>

    <%- include('partials/footer') %>

</body>


</html>



