<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title><%= title %></title>
</head>

<body>
    <div class="container-ingreso">

        <div class="container-video">
            <video autoplay muted>
                <source src="/images/img/ingreso_video.mp4" type="video/mp4">
            </video>
        </div>  

        <div class="contenedor__formulario">                     
                <section class="seccion__formulario">
                    <div class="contiene__titulo">
                    <h1>
                        Cervezas RIWI
                    </h1>
                    <h2>
                        Bienvenidos
                    </h2>
                        <% if (typeof menorDeEdad != "undefined") { %>
                        <p class="ingreso-p"> <%= menorDeEdad.message %></p> 
                        <% } %>
                    </div>
                </section>
            <div class="contiene__form">
                <section class="formulario">                  
                    <form class="process-ingreso" action="/processIngresar" method="POST" novalidate>              
                                <label for="start">FECHA DE NACIMIENTO:</label>
                                    <input type="date" id="start" name="edad_start">             
                            <p class="boton__subir">
                                <button type="submit" id="button-ingreso">INGRESAR</button>              
                            </p>
                    </form> 
                </section>        
            </div>                
        </div>
        
    </div>
    <script defer>
        document.querySelector(".process-ingreso").addEventListener("submit", function(e) {
            if(!document.getElementById("start").value) {
                e.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'POR FAVOR INGRESE SU FECHA DE NACIMIENTO',
                    confirmButtonColor: "rgba(166,150,30,1)",
                    iconColor: "#DACB5E"
                })
                // alert("Ingrese su fecha de nacimiento para ingresar.")
            }
        })
    </script>
</body>
</html>

