<%- include('partials/head') %>

<body>
    <div class="container-ingreso">

        <div class="container-video">
            <video autoplay muted>
                <source src="/images/img/ingreso_video.mp4" type="video/mp4">
            </video>
        </div>  

        <div class="contenedor__formulario">                     
                <section class="seccion__formulario">
                    <div class="contiene__titulo">
                    <h1>
                        Cervezas RIWI
                    </h1>
                    <h2>
                        Welcome
                    </h2>
                        <% if (typeof menorDeEdad != "undefined") { %>
                        <p class="ingreso-p"> <%= menorDeEdad.message %></p> 
                        <% } %>
                    </div>
                </section>
            <div class="contiene__form">
                <section class="formulario">                  
                    <form class="" action="/ingreso" method="POST">              
                                <label for="start">FECHA DE NACIMIENTO:</label> <!-- para validar fecha -->
                                    <input type="date" id="start" name="edad_start">             
                            <p class="boton__subir">
                                <button type="submit" id="button-ingreso">INGRESAR</button>              
                            </p>
                    </form> 
                </section>        
            </div>                
        </div>
        
        <%- include('partials/footer') %>
    </div>
</body>
</html>

