<%- include('partials/head') %>

<body>

<%- include('partials/header') %>
       
    <main class="contenedor_historia">        
        <h2 style="text-align: center;">Términos y condiciones de acceso y uso de las páginas web de Riwi Cervezas.</h3>
        
           <p> Riwi Cervezas (en adelante, EL SITIO) informa a los visitantes (en adelante, USUARIOS) de las condiciones de uso aplicables al acceso y navegación por las páginas que los USUARIOS accedan o usen los servicios, aplicaciones y contenidos incluidos en las mismas (en adelante, SERVICIOS).</p>
            <p>Este documento, sin perjuicio de las particularidades que en el mismo se indican, se acepta por los USUARIOS con el mero acceso a las páginas que componen EL SITIO. Deberá abstenerse de utilizar el SITIO quien no acepte los Términos y condiciones.</p>
            <p>Los responsables de EL SITIO se reservan el derecho de modificar los Términos y condiciones a su sola y exclusiva discreción, en cualquier momento, sin que ello dé lugar a compensación alguna a favor de los USUARIOS.</p>
            <p>Sólo podrán ser USUARIOS las personas humanas mayores de 18 años, que posean capacidad legal para contratar y que no tengan ningún impedimento según las leyes de la Argentina para utilizar EL SITIO. Si la declaración realizada por USUARIO respecto de su edad fuera falsa o errónea, será exclusiva responsabilidad del USUARIO y/o de los padres y/o tutores y/o responsables del USUARIO. Los padres y/o tutores del USUARIO pueden asimismo solicitar, frente a la declaración falsa o errónea realizada por un menor, que se elimine la información del respectivo USUARIO de la base de datos de EL SITIO. Para ello, deberá comunicarse a la siguiente dirección de correo electrónico: riwicervezas@yahoo.com</p>
            <p>Todos los cargos, precios y costos de los servicios de internet necesarios para el acceso, uso, visita, navegación y demás actividades que se realicen en y/o a través de EL SITIO, son a cargo exclusivo de los USUARIOS.</p>
            <p>Conforme lo establecido por el art. 6 de la ley 24.788 los mensajes creados y/o actividades realizadas en y/o a través de EL SITIO no pueden tener como destinatarios a menores de 18 años.</p>
            <p>En el marco de la Política de Privacidad, la Empresa mantendrá en absoluta confidencialidad la totalidad de los Datos Personales suministrados por los Usuarios del Sitio, salvo en los casos en los que la Ley de Protección de Datos Personales permite su divulgación.</p>
            <p>EL SITIO no declara ni garantiza que los servicios o contenidos sean ininterrumpidos o que estén libres de errores, que los defectos sean corregidos, o que el servicio o el servidor que lo pone a disposición estén libres de virus u otros componentes nocivos, sin perjuicio de que EL SITIO realiza sus mejores esfuerzos en evitar este tipo de incidentes. EL SITIO no garantiza ni declara que el uso o los resultados del uso de los servicios o de los contenidos sean correctos, precisos, puntuales o de otro modo fidedignos. En caso de que el USUARIO tomara determinadas decisiones o realizara determinadas acciones con base en la información incluida en cualquiera de las páginas, se recomienda la comprobación de la información recibida con otras fuentes.</p>
            <p>EL SITIO no garantiza la idoneidad, fiabilidad, disponibilidad, oportunidad y exactitud de los servicios o contenidos para cualquier propósito.</p>
            <p>EL SITIO no será responsable de daños directos, indirectos, ni de ningún otro tipo, incluidos, a título meramente indicativo, los daños por pérdida de uso, de datos o de beneficios, que se deriven o tengan relación con el uso de EL SITIO relacionados con la demora o imposibilidad para poder utilizar el servicio, tanto si la responsabilidad de EL SITIO tiene un origen contractual, extra contractual, por negligencia, responsabilidad objetiva o de cualquier otro tipo, incluso si EL SITIO ha sido advertido de la posibilidad de existencia de daños por terceros particulares.</p>
            <p>Todos los derechos de las páginas están protegidos por su copyright ©. Todos los derechos reservados, y por tanto, su contenido pertenece única y exclusivamente a su autor. El acceso a este material no supondrá en forma alguna licencia para su reproducción y/o distribución que, en todo caso, estará prohibida salvo previo y expreso consentimiento de EL SITIO.</p>
            <p>Cualquier Usuario o visitante del Sitio puede enviar consultas sobre los Terminos y condiciones de uso mediante el formulario de contacto.</p>
            <p>Los términos y condiciones se rigen por la legislación vigente en la República Argentina, y  todo conflicto sobre su aplicación e interpretación queda sometida a la jurisdicción y competencia de jurisdicción de los Tribunales Ordinarios en lo Comercial de la Ciudad de Buenos Aires, con exclusión de cualquier otro fuero o jurisdicción que pudiera corresponder.</p>
            
       
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>

