<div class="footer-container">
    <footer class="footer">
        <!-- <a href="">LEGALES</a> -->
        <a href="/terminos" id="footer-terminos">Términos y condiciones</a>
        <p>Prohibido la venta a menores de 18 años.</p>
        <div class="footer-redes">
            <a href=""><i class="fab fa-twitter fa-lg login-icon footer-icon"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-lg login-icon footer-icon"></i></a>
            <a href=""><i class="fab fa-instagram fa-lg login-icon footer-icon"></i></a>
        </div>   
    </footer>
</div>