<header class="header">
    <div class="header-img-container">
        <a href="/"><img src="/images/img/logo.png" alt="LOGO DE CERVEZAS RIWI" class="header-logo"></a>
        
    </div>

    <nav class="nav"> <!---------------BARRA DE NAVEGACIÓN---------------------->
        <a href="/products/">CERVEZAS</a>
        <a href="/historia/">HISTORIA</a>
        <a href="/ayuda">AYUDA</a>
        <a href="/contacto">CONTACTO</a>

        <% if (usuarioSession) { %>
            <p>Hola <%=usuarioSession.first_name%></p>
        <% } %>
    </nav>

    <div class="header-icons-container" id="header-buttons">
        <a href="/users/login"><i class="fas fa-user header-icons"></i></a>
        <a href="/products/cart"><i class="fas fa-shopping-bag header-icons"></i></a>
        <a href="/products/" id="search-button"><i class="fas fa-search fa-lg"></i></a>
        <a href=""><i class="fas fa-bars header-icons" id="menu"></i></a>
    </div>
    
    <div class="header-icons-container header-hide" id="search-bar">
        <form action="/products" id="search-form" method="POST">
            <input id="search-input" autofocus type="text" name="query" id="query" placeholder="BUSCAR CERVEZA">
        </form>
        <i id="menu" class="fas fa-bars header-icons" ></i>
    </div>

    <!-- <div style="position: relative"> -->
        <div id="dropmenu" class="dropmenu-display dropmenu">
            <a href="/products/"><p>CERVEZAS</p></a>
            <a href="/historia/"><p>HISTORIA</p></a>
            <a href="/ayuda"><p>AYUDA</p></a>
            <a href="/contacto"><p>CONTACTO</p></a>
        </div>
    <!-- </div> -->

    <script defer>
        let dropMenu = document.getElementById("dropmenu");
        
        document.getElementById("menu").addEventListener("click", function(e){
            e.preventDefault(e)
            dropMenu.classList.toggle("dropmenu-display");
        });
        
        window.addEventListener("resize", function() {
            if (!dropMenu.classList.contains("dropmenu-display")) {
            dropMenu.classList.toggle("dropmenu-display")
            }
        });

        dropMenu.addEventListener("mouseleave", function(){
            dropMenu.classList.toggle("dropmenu-display")
        })

    </script>

</header>    