<header class="header">
    <div class="header-img-container">
        <a href="/"><img src="/images/img/logo.png" alt="LOGO DE CERVEZAS RIWI" class="header-logo"></a>
    </div>

    <nav class="nav"> <!---------------BARRA DE NAVEGACIÓN---------------------->
        <a href="/products/">CERVEZAS</a>
        <a href="">HISTORIA</a>
        <a href="">AYUDA</a>
        <a href="">CONTACTO</a>

        <% if (usuarioSession) { %>
            <p>¡Bienvenido <%=usuarioSession.first_name%>!</p>
        <% } %>
    </nav>

    <div class="header-icons-container" id="header-buttons">
        <a href="/users/login"><i class="fas fa-user header-icons"></i></a>
        <a href="/products/cart"><i class="fas fa-shopping-bag header-icons"></i></a>
        <a href="/products/" id="search-button"><i class="fas fa-search fa-lg"></i></a>
        <a href=""><i class="fas fa-bars header-icons" id="menu"></i></a>
    </div>
    
    <div class="header-icons-container header-hide" id="search-bar">
        <form action="/products" id="search-form" method="POST">
            <input id="search-input" autofocus type="text" name="query" id="query" placeholder="BUSCAR CERVEZA">
        </form>
        <a href=""><i class="fas fa-bars header-icons" id="menu"></i></a>
    </div>
</header>    