<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
    
        <div class="registerForm-app-container">
            <section class="registerForm-section-img">
                <article class="registerForm-article-img">
                    <img src="/images/img/registerForm_beer2.jpg" alt="cerveza" id="registerForm-img"> <!----IMAGEN------------->
                </article>
            </section>

            <main class="registerForm-main">
                

                <section class="registerForm-main">
                    <div class="registerForm-section">
                        <div class="registerForm-article">
                            <a href=""><i class="fab fa-facebook-square fa-2x registerForm-fb"></i></a>
                            <button class="registerForm-button-fb">Registrarse con Facebook</button>
                    <article class="registerForm-article">
                        
                        <form action="/users/register" method="POST"> <!--------------FORMULARIO------------->
                            <p id="registerForm-p"> Registrarse con dirección de email</p>
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="registerForm-input" required>

                            <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="registerForm-input" required>

                            <input type="email" name="email" id="email" placeholder="Email" class="registerForm-input" required>

                            <input type="password" name="password" id="password" placeholder="Contraseña" class="registerForm-input" required>

                            <p>CAPTCHA</p>
                            <button class="registerForm-button" type="submit">CONFIRMAR</button>
                            
                        </form>
                    </article>
                </section>
            </main>
        </div>

        <%- include('../partials/footer') %>
</body>
</html>